<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--<add key="ConnString" value="Data Source=GNS041;Initial Catalog=TenarisOrderForm;User ID=GNS041;Password=GNS041"/>-->
    <!--<add key="ConnString" value="Password= GN@12**R;Persist Security Info=True;User ID= etl_Read;Initial Catalog=DEV-DW;Data Source=afs-dev-dw.database.windows.net" />-->

    <add key="FilePath" value="F:\TenarisOrdersMain\Tenaris_Order\TenarisOrderCSV\OrderBkp\"/>
    <add key="ChkFilePath" value="F:\TenarisOrdersMain\Tenaris_Order\TenarisOrderCSV"/>
    <add key="zipPath" value="F:\TenarisOrdersMain\Tenaris_Order\TenarisOrderCSV\OrderBkp\"/>
    <add key="errorPath" value="F:\TenarisOrdersMain\Tenaris_Order\"/>
    
    
    <add key="FromAddress" value="no-reply@accentfoods.com"/>
   <add key="FromPassword" value="P@ssword01!"/>
    
    <!--To address-->
    <add key="ToAddressDaily" value="tenarisdaily@accentfoods.com"/>
    <add key="ToAddressCK" value="cksupport@365smartshop.com;tenarisdaily@accentfoods.com"/>
    

    <add key="ToAddressErrorNotification" value="ajayn@globalnestsolutions.com;smitas@globalnestsolutions.com;shivprasadg@globalnestsolutions.com"/>
    
    <!--Mail Portion for Transaction Orders-->
    <add key="MailSubjectOrder" value="Tenaris Daily Transaction Report_Service Date _"/>
    <add key="MailBodyOrder" value="Please find attached Tenaris Daily Transaction Report_Service Date _"/>
    <add key="FileNameOrder" value="Tenaris Daily Transaction Report_Service Date_"/>
    
    <!--Mail Portion for Transaction CK Orders-->
    <add key="MailSubject_CKOrder" value="Tenaris Daily CK Transaction Report_Service Date_"/>
    <add key="MailBody_CKOrder" value="Please find attached Tenaris Daily CK Transaction Report_Service Date_"/>
    <add key="FileName_CKOrder" value="Tenaris Daily CK Transaction Report_Service Date_"/>

  </appSettings>
  <connectionStrings>
    <add name="ConnString" connectionString="Password=N3tgn2!*;Persist Security Info=True;User ID=gnsadmin;Initial Catalog=DEV-DW;Data Source=afs-dev-dw.database.windows.net" />
  </connectionStrings>
</configuration>